
.box {
    background-color: #4527a0;
    color: white;
    text-align: center;
    /*padding: 35px;*/
    border: 1px solid #ffffff;
}

.logo{
    background-color: rgb(69, 39, 160);
}
.logo img{
    float: left;
}

.header {
    height: fit-content;
    padding: 20px;
    text-align: center;
}

